<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}

  <body>  
    <audio id="sound1" src="http://soundbible.com/mp3/Bleat-SoundBible.com-893851569.mp3"></audio>
    <audio id="sound2" src="http://soundbible.com/mp3/Billy%20Goat%20Bleat-SoundBible.com-498372940.mp3"></audio>
    <audio id="sound3" src="http://www.mobile2u.com.pk/download/ringtons/Goat.mp3"></audio>

    <script type="text/javascript">
      var sound = ['sound1', 'sound2', 'sound3'];

      var max = 3;
      var min = 0;
      number = Math.floor(Math.random() * (max - min)) + min;
      var sound_to_use = sound[number];

      var audio = document.getElementById(sound_to_use);

      audio.play();
    </script>
    {% include 'navbar.html' %}

    <div class="container">
      <p class="lead vote-for-a-goat">Vote for a goat!</p>
      <div class="row">
        <div class="col-md-6">
          <form action="/goatvote" method="post" id="Form">
            <input type="image" src="{{left_goat.url}}" class="goat-vote-picture img-responsive" alt="Left goat isn't here..." name="goatbutton" formmethod="post" formaction="/goatvote" value="{{left_goat.id}}" width="600">
          </form>
        </div>
        <div class="col-md-6">
          <form action="/goatvote" method="post" id="Form">
            <input type="image" src="{{right_goat.url}}" class="goat-vote-picture img-responsive" alt="Right goat isn't here..." name="goatbutton" formmethod="post" formaction="/goatvote" value="{{right_goat.id}}" width="600">
          </form>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
