<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a>
        <img src="{{ url_for('static', filename='favicon-194x194.png') }}"class="goathub-navbar-brand goathub-logo" href="/"/>
      </a>
      <a class="navbar-brand goathub-logo" href="/">GoatHub</a> 
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if request.path=="/" %}class="active"{% endif %}><a href="/">Vote</a></li>
        <li {% if request.path=="/rankings" %}class="active"{% endif %}><a href="/rankings">Rankings</a></li>
        <li {% if request.path=="/about" %}class="active"{% endif %}><a href="/about">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>