<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="starter-template">
        <p class="lead" style = "font-size:40px">G.O.A.T. (Greatest of All Time)</p>
        <table class="jank-table" style="font-size:30px">
          <thead>
            <th>Rank</th>
            <th></th>
            <th>UpGoats</th>
          </thead>
          <tbody>
          {% for goat in top10 %}
            <tr>
              <td>{{loop.index}}</td>
              <td>
                <img src= "{{goat.url}}" class="image-rounded" alt="Where is this goat?" width="300">
              </td>
              <td>{{goat.votes}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>