<!DOCTYPE html>
<html lang="en">
	{% include 'header.html' %}
	<body>
		{% include 'navbar.html' %}
		<div class="container">
			<div class="starter_template" style="text-align:center">
				<br>
				<p class="lead" style="font-size:40px"><b>Submit a goat!</b></p>
				<form role="form" method="post" action="{{ url_for('submissions') }}">
					<div class="form-group">
						<label for="url">Image URL:</label>
						{{ form.url }}
						<input type="submit" class="btn btn-default" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</body>
</html>